h1{
    background-color: orangered;
}


.header {
    display: flex;
    justify-content: space-between;
}

.pictures {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

p{
    text-align: center;
}

