* {
    font-family: American Typewriter;
}

body {
    background-color: #808080;
}

h1{
    background-color: #a8a8a8;
    padding: 30px;
}


.header {
    display: flex;
    justify-content: space-between;
}

.aboutMe {
    display: flex;
    flex-direction: column;
}

.pictures {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

p{
    text-align: center;
}
.header * {
    margin: 30px;
    display: flex;
    justify-content: center;
}
.clickHere {
    margin: 30px;
}
.clickHere * {
    padding: 30px;
}
.bodyy {
    display: flex;
    flex-direction: column;
}
a:hover {
    color: orange;
    font-size: 20;
}
.game {
    position: relative;
}
.game p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.game:hover p {
    opacity: 0.7;
}
.pictures * {
    margin: 6px;
}
.footer * {
    margin: 30px;
}